---
extends: relaxed
rules:
  line-length:
    max: 140
    level: warning
  trailing-spaces: enable
  new-line-at-end-of-file: enable
  document-start: disable
  truthy:
    allowed-values: ['true', 'false']
