[defaults]
inventory = inventories/lab/hosts.yml
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
forks = 30
timeout = 30
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
deprecation_warnings = True

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
