-----BEGIN CERTIFICATE-----
MIIFyzCCA7OgAwIBAgIUKuDcEWM8KUfcWTFtKiyI7xZhI0YwDQYJKoZIhvcNAQEL
BQAwdTELMAkGA1UEBhMCSVIxDzANBgNVBAgMBlRlaHJhbjEPMA0GA1UEBwwGVGVo
cmFuMREwDwYDVQQKDAhOaW1hIExhYjEUMBIGA1UECwwLSW50ZXJuYWwgQ0ExGzAZ
BgNVBAMMEk5pbWEgTG9jYWwgUm9vdCBDQTAeFw0yNjA3MTYxMjE0MzdaFw0zNjA3
MTMxMjE0MzdaMHUxCzAJBgNVBAYTAklSMQ8wDQYDVQQIDAZUZWhyYW4xDzANBgNV
BAcMBlRlaHJhbjERMA8GA1UECgwITmltYSBMYWIxFDASBgNVBAsMC0ludGVybmFs
IENBMRswGQYDVQQDDBJOaW1hIExvY2FsIFJvb3QgQ0EwggIiMA0GCSqGSIb3DQEB
AQUAA4ICDwAwggIKAoICAQDkP7a+PeLbwAfSdRR9bnoqKsWb0l0xUBMs7YtEQen/
ANMJHOMO+ICczIhqujc47tF68l0mojRxEfgxsY6klWOs+uV96PLNofnWQ0P66DD1
KEU2PeEk8sgP2vVT2lDfoji0s9OPjuY+l4281Yc13is+6+lPavx12gJd4rFIRbQH
k7lBPpjnGrgyA9zFAa+ysyDfXQXcVQkREDF7mCEDiJy9XKIII9Smhj/37zdZ4EHU
tZ7u3XpuwM+Iq440uZzi6LrFWb4FI8FBnv8nPIAtUyh3eO6pW0gheDKx8qsV1elp
sfIKtvbJ9LLqyV47PgHVFMY7GxyrEnCLL76a4ugiKGhB+sfDl9JFOZ6V9nmiZbfg
ENeW7pa1HA05ywRH5SJqpt468oeC8hBqCRASD3GzAAj0U0b8RgP3XWMRCk/dKp3j
omYmp5dr2gfFmo2JRjG5uLkxIMsV54WUgMRSV4r8pIrUK2xwiAGOVz/tL353R7BG
ijjhoJf5AcYZRgKIeEbWSXc78hotOlKJH/7OQ6aElfleKTsT1KM6fx6ZnEMwWfMz
gm85nxzMFJYW67KAovo3lOBJJ3SI9yQQcdR18uupKTa1fpOsk6LkLmARr+aI2qDb
9E7Y31AEf/61h6vNA7+2gBo0P0HRWuI3C4TFtzvccpp+0R8CEhDIoswqahoblJeO
7QIDAQABo1MwUTAdBgNVHQ4EFgQUwUFc6IrgasBf2qUHoVXKPhGimDcwHwYDVR0j
BBgwFoAUwUFc6IrgasBf2qUHoVXKPhGimDcwDwYDVR0TAQH/BAUwAwEB/zANBgkq
hkiG9w0BAQsFAAOCAgEAef9FFvB2gtK6DTE+Ek4slRZL5y6vtVOH1DZ5euwKNOmH
2pOUzZUcm5Kce6SXM9vjZZ/8xBEuIYXNc9zIgaqP3iOh5aVNNJgoZRWh8T2X60oe
lgtW10tcDvf6RUErv0vtalBGzP4ji2yXp+ZV/dWmRJnUF+QxJcD2AcE53oli1tWV
iOp/j0As49EU1OwbYZXh8Iao8KoXwau0erGpe2M8rFWW0nr9ZGbDuplSAZcBNzRK
HfLVupWYk7OGv5sk5wYYVE6jhP6lg2Hg7MU4CMnIq5aakRIGwk+XL7Zw3ISn2uie
Xae4f9jtUvWVZoCrXqqS3yYsV8VTvZqgdyYVspe7cAZiOTdstpjXS2w1pdclOLSD
cpI6JDmgWs5cuUZk1r9hyWhJi3fVDkZw3zZSP0eFZP8TfqiXAvDxpQbsOrszzftw
b4N6iYzSVlTsHS0I+l4xZd0mGzMIQu8+H8fpdX4leKuYYOSRvStMvIOVaFo5FvEX
a3yN1g9eAV0dyPjn9GfbbpJ8S/QnR3oWdKE3w6uB4sqdn9cM9IP/FBwsYQlKQ2to
3QaW6RAA8MhDwHhAqkMwuFgKdzq+JQaVmn3HLepG3mueFC6CYGQ6FvndPAY7/BTM
J2aB6tTLPGSlzKY3r/2TtLx1iGMIeP4mOwtzNNqzrp5Bxzck3dghsJUlW2Kk+VM=
-----END CERTIFICATE-----
