# Managed by Ansible - nima.platform.observability_agent
SERVER_NAME={{ inventory_hostname }}
DOMAIN_ADDRESS={{ observability_agent_domain }}
NODE_SUB_DOMAIN=node-{{ inventory_hostname }}
CONTAINER_SUB_DOMAIN=pod-{{ inventory_hostname }}
RESTART_POLICY=unless-stopped
NDEEXP_VERSION=v1.11.1
CADV_VERSION=v0.55.1
PROMTAIL_VERSION=3.6.11
LOKI_SCHEME={{ observability_agent_loki_scheme }}
LOKI_URL={{ observability_agent_loki_url }}
LOKI_USER={{ observability_agent_loki_user }}
LOKI_PASS={{ observability_agent_loki_password }}
