# Nima-Mac
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDGj7K4WDqivqhvnG3AzZ/g944iLRdurIXA5ZlndjZtM athari.nima.99@gmail.com

# Nima Deb 13 Home
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOZbDsI9D8g4WxVdhpO2ozIVVZWYtiT4AEO0l5L6Nl4r nimaathari@Nima-Deb13-Home