# Managed by Ansible - nima.platform.ssh_bootstrap
Include /etc/ssh/sshd_config.d/*.conf

Port {{ ssh_bootstrap_port }}
Protocol 2

PermitRootLogin {{ ssh_bootstrap_sshd_config.PermitRootLogin | default('prohibit-password') }}
PasswordAuthentication {{ ssh_bootstrap_sshd_config.PasswordAuthentication | default('no') }}
KbdInteractiveAuthentication no
UsePAM yes
X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server

{% if ssh_bootstrap_sshd_config.AllowUsers is defined %}
AllowUsers {{ ssh_bootstrap_sshd_config.AllowUsers }}
{% endif %}
{% if ssh_bootstrap_sshd_config.AllowGroups is defined %}
AllowGroups {{ ssh_bootstrap_sshd_config.AllowGroups }}
{% endif %}
