deb{% if linux_baseline_allow_insecure_apt_mirror %} [trusted=yes]{% endif %} https://{{ linux_baseline_mirror_domain_name }}/repository/ubuntu_{{ linux_baseline_ubuntu_release }}/ {{ linux_baseline_ubuntu_release }} main restricted universe multiverse
#deb{% if linux_baseline_allow_insecure_apt_mirror %} [trusted=yes]{% endif %} https://{{ linux_baseline_mirror_domain_name }}/repository/ubuntu_{{ linux_baseline_ubuntu_release }}/ {{ linux_baseline_ubuntu_release }}-updates main restricted universe multiverse
deb{% if linux_baseline_allow_insecure_apt_mirror %} [trusted=yes]{% endif %} https://{{ linux_baseline_mirror_domain_name }}/repository/ubuntu_{{ linux_baseline_ubuntu_release }}/ {{ linux_baseline_ubuntu_release }}-backports main restricted universe multiverse
deb{% if linux_baseline_allow_insecure_apt_mirror %} [trusted=yes]{% endif %} https://{{ linux_baseline_mirror_domain_name }}/repository/ubuntu_{{ linux_baseline_ubuntu_release }}-security/ {{ linux_baseline_ubuntu_release }}-security main restricted universe multiverse
